

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#sidebar-wrapper{
    overflow-y: hidden;
    z-index: 1;
    position: absolute;
    width: 250px;
    background-color: #4284f4;
    height: 100%;
    box-shadow: 2px 0px 5px grey;

}

#CloseNav{
    height:40px;
    margin:10px;
    
}


#top-sidebar-wrapper{
    height: 60px;
    background-color: #95baf9;
    width: 100%;

}
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.sidebar-nav li:hover{
    background-color: green;
}


#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
}

.header-wrapper{
    height: 60px;
    background-color: #0759e4;
    box-shadow: 0px 2px 5px grey;
}